/* 
Copied and paste from GolgariServiceStyles.css.
If it ain't broke...... 
*/

* {
    box-sizing:border-box;
  }
    
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
   }
  .container {
    padding: 64px;
  } 
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  .column-words {
    float: left; 
    width: 66.66666%;
    padding: 20px;
  }
  .column-photo {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  .column-words h1:nth-of-type(2) {
    font-size: 48px;
    color: darkgreen;
  }
  .column-words h1:nth-of-type(1) {
    font-size: 64px;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  /* li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: sienna;
  }
  li a:hover {
    text-decoration: underline;
    color: green;
    background-color: black;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
    font-size: 1.4em;
  } */
  header, footer {
    background-color: rgb(0, 51, 102); /* Dark blue background */
    color: white; /* White text */
    padding: 10px;
    text-align: center; /*Keep it all centered*/
  }
  nav {
    background-color: rgb(0, 40, 85);
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav li {
    display: inline;
    margin: 0 5px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  a {
    color: rgb(0, 102, 204); 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  @media screen and (max-width: 1000px) {
    .column-words,
    .column-photo {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }