/* Reset some default browser styles */
body, p {
    margin: 0;
    padding: 0;
}

/* Define government-themed styles */
body {
    background-color: #00529B; /*  blue background taken from color generator site */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em; /* Center */
}

.government-content {
    background-color: white; /* White content background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.error-message {
    font-size: 20px;
    color: red; /* Red error message text color */
    font-weight: bold;
    padding: 10px;
    border: 2px solid red; /* Red border */
    border-radius: 5px;
    background-color: #fff; /* White background for the error message */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
